@media only screen and (max-width: 1024px){
    #people{
        /* display: none; */
   }

.main__container{
    /* background: url(/2.png) no-repeat ; */
    /* box-shadow: 2px 2px 2px 2px black; */
    /* background-blend-mode: lighten; */
}

}

@media only screen and (max-width: 720px){
    #bookimg{

     /* margin: 0%;/ */
     /* height: min-content; */

    }
.navbar{
   
        display: none;
        /* flex-direction: column; */
    } 
  
    .navb{
        display: flex;
        justify-content: center;
        width: 100%;
        border: 0.5px solid white;
        font-size: 2rem;
        text-decoration: none;
        background-color: #81D8DB;
    }
    .imggbook{
        display: flex;
        /* width: 4rem; */
        justify-content: center;
        background-color: #81D8DB;
        /* border-radius: 1rem; */
    }
    
    navbar{
       display: flex;
       flex-direction: column;
    }
    .imgbook{
        /* display: flex; */
        /* z-index: +44; */
        /* justify-content: center; */
        /* width: 6rem; */
    }
}


@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px){
    .twobuttons{
        
    position: relative;
    left: -11%;

    }


}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1199px){
    .twobuttons{
        
    position: relative;
    left: -2%;

    }
    #people{
        margin: 5rem -4rem;
        height: 30rem;
        
    }
    .enterbook{
        margin: 0% 22%;
    }
    .selectbox{
        width: 290px;
        margin-top: 26px;
        margin-left: 5%;
        box-shadow: 0 3px 3px rgb(183, 182, 182);
        border: 2px solid white;
        border-radius: 4px;
        height: 2.3rem;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;

}
.formdiv{
    margin: 4rem -13rem;
}
.add-button {  
    width: 31.5%;
    left: 38.5%;

}
.lib-button{
    width: 31.5%;
    left: 38.5%;
}
#myInput{
width: 20%;
}


}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px){
.peopleimage{
}
#people{

}
}
@media only screen and (min-device-width: 770px) and (max-device-width: 992px){

    .formdiv{
        /* position: relative; */
    /* left: -18%; */

    }
    .main__container{
       
}
#people{
    height: 77%;
    margin: 25% -5%;
    position: relative;
    left: 13%;
}
.enterbook {
    margin: 0% -8%;
}
.form-group {
    position: relative;
    left: -17%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: #3b3b3b;
}

element.style {
    padding-left: 10px;
}
#bookName {
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    /* box-shadow: 2px 2px 10px -2px rgb(0 0 0 / 67%); */
    border: 2px solid white;
}
.selectbox {
    width: 280px;
    margin-top: 21px;
    margin-left: -22%;
    box-shadow: 0 3px 3px rgb(183 182 182);
    border: 2px solid white;
    border-radius: 4px;
    height: 2.3rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.twobuttons{
    position: relative;
    left: -72%;
}
.add-button {
    
    width: 280px;

}
.lib-button{
    width: 280px;
}
#Filterremoving {
    position: absolute;
    right: 15%;
    width: 15%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px -4px rgb(0 0 0 / 67%);
}

    #selectionbox{
        right: 20%;
    }
    .h4{
        font-size: 14px;
        margin: 4px 0px;
    }
    .secondpage{
        margin: -9% 0%;
    }
}
@media only screen and (min-device-width: 721px) and (max-device-width: 779px){
.me-2{
    
}

}
@media only screen and (min-device-width: 556px) and (max-device-width: 720px){
    #people{
        display: none;
        /* z-index: -1; */
        opacity: .5%;
    }
    .twobuttons{
        position: relative;
    left: -38%;
    }
    .enterbook {
        margin: 0% 10%;
    }
    #Filterremoving {
        position: absolute;
        right: 15%;
        width: 20%;
        
    }
        #selectionbox {
            position: absolute;
            right: 3%;
            top: 264%;
            width: 11%;
           
        
    }
    .form-group {
       margin: 5% 0%;
        font-size: 13px;
        font-weight: 600;
        
    }
    .h4{
        font-size: 13px;
        margin: 4px 0px;
    }
    /* .main__container{
        background: url(/2.png) no-repeat ; 
        
    } */
    .secondpage{
        margin: -9% 0%;
    }
}
@media only screen and (min-device-width: 494px) and (max-device-width:575px){
#people{
    display: none;
}
#bookName{

}
#author{
    margin: 11% 14%;
}
#selectbox{
    margin: 16% 50%;
    width: 192%;
}

.twobuttons{
    position: relative;
    left: -27%;
    width: 82%;
    /* display: none; */
}
.form-group {
    margin: 27px 0px 0px 78px;
    text-align: right;
    font-size: 13px;
    font-weight: 700;
    color: #3b3b3b;
}
.enterbook {
    margin: 0% 15%;
}
.selectbox {
    width: 140%;
    margin-top: 26px;
    margin-left: 20%;
   
    font-size: 13px;
}
.add-button {
    text-align: center;
    width: 59%;
    left: 325px;

}

.lib-button{
    text-align: center;
    width: 59%;
    left: 325px;
}
.secondpage{
    margin: -9% 0%;
}
.h4{
    font-size: 13px;
    margin: 4px 0px;
}
#Filterremoving {
    position: absolute;
    right: 10%;
    width: 25%;
    
}
    #selectionbox {
        position: absolute;
        right: -3%;
        top: 265%;
        width: 15%;
       
    
}
.i0{
    display: none;
}
}
@media only screen and (min-device-width: 333px) and (max-device-width:493px){
    #people{
        display: none;
    }
    .enterbook{
        margin: 0% -1%;
    }
    
    
    .form-group {
        margin: 27px 0px 0px 0px;
        text-align: right;
        font-size: 13px;
        font-weight: 700;
        color: #3b3b3b;
    }
   
    .selectbox {
        width: 100%;
        margin-top: 26px;
        margin-left: 20%;
       
        font-size: 13px;
    }
    #bookName{

    }
    #author{
       
      margin: 26px 22px;
        width: 177px;
    }
    #selectbox{
          
      margin: 26px 57px;
      width: 180px;
    
    }
    .i0{
        display: none;
    }
    .twobuttons{
        position: relative;
        /* left: -55%; */
        
        /* display: none; */
    }
    .add-button {
        text-align: center;
        width: 240px;
    margin: 0px -222px;

        /* left: 325px; */
    
    }
    
    .lib-button{
        text-align: center;
        width: 240px;
        margin: 0px -222px;

        /* left: 325px; */
    }
    #Filterremoving {
        position: absolute;
        right: 24px;
        width: 100px;
        height: 25px;
        font-size: 10px;
        
    }
        #selectionbox {
            position: absolute;
            right: -69px;
            top: 57.8rem;
            width: 55px;
            height: 20px;
            font-size: 10px
           
        
    }
    .h4{
        font-size: 65%;
    margin: 2% 0%;
    }
    #myInput{
        width: 70px;
    }
    .secondpage{
        margin: -9% 0%;
    }

    .i00{
        display: none;
    }
        #homeicon {
            margin: -1% 2%;
        }
        navbar{
            width: 107%;
        }
}