.delete{
    text-decoration: none;
    color: white;
    background-color: rgb(231, 41, 41);
    width: 5rem;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.3rem;
    height: 1.7rem;
}
.delete:hover{
    color: white;
    background-color: red
}
#mybooks{
    display: flex;
    justify-content: center;
    border: 1px solid;
}
#table{
    margin: 1rem;
}
#thetable{
    /* margin: 1rem; */
    padding: 1rem;
    border: 1px solid;
}
.filtercontainer{
display: flex;
justify-content: space-around;
margin: 0.7rem;
}
#myInput{
    width: 20rem;
    /* margin: 0.7rem; */
    /* margin-bottom: 0.9rem; */
}
#first{
display: flex;
justify-content: space-around;
width: 100%;
height: 2rem;
}
#first > ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
#first > ul > li{
    display: flex;
    justify-content: space-between;
}
#lib{
margin-left: -3.6rem;
}
#first > ul > li>a{
    text-decoration: none;
    color: black;
}
.mainhead{
    display: flex;
    justify-content: center;
}
.formandnav{
    display: flex;
 
    height: 3rem;
    /* justify-content: center; */
    /* width: 60%; */
}
#libraryForm{
    width: 70%;
}
#navigation{
    text-decoration: none;
    width: 15rem;
    border:none;
    margin-left: 2.4rem;
    /* padding: 0.5rem;
    padding-left: 1.8rem;*/
    height: 3rem;
    display: flex;
    padding-top: 0.6rem;
    justify-content: center;
    padding: auto;
    border-radius: 0.5rem;
    cursor: pointer;
    /* width: fit-content; */
    color: rgb(255, 255, 255);
    background-color: #0d6efd;
} 
#navigation:hover{
    background-color: #005be3;
}
#myInput::placeholder {
    margin-left: 7rem;
    color: #0d6efd;
}
#boook{
    margin: 1rem;
}